.container {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-large);
}

.logo {
  width: 60px;
  height: 60px;
  margin-right: var(--spacing-large);
  object-fit: cover;
  object-position: center center;
}

.list__container {
  display: flex;
  flex-wrap: wrap;
}

.list__container a {
  display: block;
  margin: 0 10px;
  padding: 7px 10px;
  min-width: 70px;
  color: var(--color-white);
  font-weight: var(--font-bold);
  text-shadow: var(--text-shadow-yellow);
  transition: (var(--transition));
  border: 2px solid transparent;
  border-radius: var(--border-radius-small);
}

.list__container :global(a.active) {
  border: 2px solid var(--color-violet);
  color: var(--color-violet);
  text-shadow: none;
}
